.o-euro_office-templates-tree {
  .o-euro_office-tree-list {
    .o-euro_office-list-item {
      .o-euro_office-item-body {
        .o-euro_office-body-template {
          label {
            display: flex;
            align-items: center;
            column-gap: 6px;

            .o-euro_office-template-checkbox {
              margin: 0 !important;
            }

            button {
              padding: 0 !important;
              border: none !important;
            }
          }
        }
      }
    }
  }
}
